bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/**
/.vs/**

# This project
/Drogecode.Blazor.OfflineSupport.sln.DotSettings.user
/Src/Drogecode.Blazor.OfflineSupport/wwwroot/js/*.js
/Src/Drogecode.Blazor.OfflineSupport/wwwroot/js/*.js.map